body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: skyblue;
	overflow: hidden;
	font-size: 4vmin;
}

main {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vmin;
	width: 100vmin;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	position: relative;
}

main .row {
	flex: 1;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
}

.row .cell {
	flex: 1;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
	text-align: center;
}

button {
	position: relative;
	font: 48px mono;
	padding: 16px 48px;
	border: none;
}

button:hover::after {
	content: "";
	pointer-events: none;
	position: absolute;
	background-color: white;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
